<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Harvest_UserAgent" value="test agent" />
    <add key="Harvest_AccessToken" value="1667926.pt.FRB_3P69yNSC_9ECblBNSC7vo3gtTuoe9bqXf15HJSwNbWccNdykXG3p9uJFURGXveL4EewhXio0DW1y9hX_Lg" />
    <add key="Harvest_AccountId" value="966765" />
    <add key="Harvest_CompanyName" value="badrabbit1" />
    <add key="HarvestSync_DayOffset" value="28" />
    <add key="ScriptTest_TimeEntryId_TestValue" value="840483501" />
    <add key="ScriptTest_UserId_TestValue" value="2303883" />
    <add key="ScriptTest_ClientId_TestValue" value="7093945" />
    <add key="ScriptTest_CategoryId_TestValue" value="5156108" />
    <add key="ScriptTest_InvoiceId_TestValue" value="17270039" />
    <add key="ScriptTest_ProjectId_TestValue" value="18232758" />
    <add key="ScriptTest_TaskId_TestValue" value="10354801" />
    <add key="ScriptTest_AssignmentId_TestValue" value="197131564" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>